# Optional API keys for the copyrighted ESV and NLT translations.
# Copy this file to `.env.local` and paste your own free keys. They stay on the
# server (Vite dev proxy locally, Vercel serverless function in production) and
# are never shipped to the browser. Leave them blank to run with only the free
# public-domain translations.

# Free key: https://api.esv.org/
ESV_API_KEY=

# Free key: https://api.nlt.to/
NLT_API_KEY=
